html[dir="rtl"] .accordion-button::after {
  order: -1;              /* משנה את סדר התצוגה – החץ קודם */
  margin-left: 0.5rem;    /* רווח אחרי החץ */
  margin-right: 0;        /* ביטול רווח מיותר */
  transform: rotate(-180deg); /* כשהכפתור פתוח */
}

html[dir="rtl"] .accordion-button.collapsed::after {
  transform: rotate(0deg); /* כשהכפתור סגור */
}


html {
    /* 10px */
    font-size: 62.5%;
  font-family: sans-serif;
  }
  
  
  body {
    /* 16px */
    font-size: 1.6rem;
  
    margin: 0;
  
  }

<<<<<<< HEAD

=======
.container {
    width: 50vw;
    height: 60vh;
    background-color: aquamarine;
    flex: content;
    
}
>>>>>>> 40ecbe21461291bf21fd4ae8eadfd25c6b384d3d

video {
    
    width: 50vw;
    height: 20vh;
}
 
  
  
