html[dir="rtl"] .accordion-button::after {
  order: -1;              /* משנה את סדר התצוגה – החץ קודם */
  margin-left: 0.5rem;    /* רווח אחרי החץ */
  margin-right: 0;        /* ביטול רווח מיותר */
  transform: rotate(-180deg); /* כשהכפתור פתוח */
}

html[dir="rtl"] .accordion-button.collapsed::after {
  transform: rotate(0deg); /* כשהכפתור סגור */
}

html {
    /* 10px */
    font-size: 62.5%;
  font-family: sans-serif;
  }
  
body {
    /* 16px */
    font-size: 1.6rem;
  
    margin: 0;
  
  }

/* עיצוב כפתור WhatsApp */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
  width: 60px;
  height: 60px;
  /* background-color: #25D366; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.whatsapp-button:hover {
  transform: scale(1.1);
}

.whatsapp-button img {
  width: 30px;
  height: 30px;
}
